---
layout: base.njk
tags: competition
title: Международная Владивостокская регата 2022
gallery: 
  - '20220909_145642'
  - '20220909_151516'
  - '20220909_152248'
  - '20220909_160804'
  - '20220909_160934'
  - '20220909_160938'
  - '20220909_160946'
  - '20220909_174419'
  - '20220909_174809'
  - 'main'
---


mixin image(file)
  a(href=`img/gallery/${file}@1280.jpg`)
    img(src=`img/gallery/${file}@400.jpg`, alt="", height="300")

article
  h2 Международная Владивостокская регата 2022
  p 9 сентября стартовала международная регата 2022, которая собрала спортсменов из разных стран мира: Китай, Узбекистан, Беларусь, Россия. На этом событии присутствовали в качестве волонтеров наши студенты ДВГГТК, представители студенческого спортивного клуба «Стимул» во главе с руководителем спортивного клуба Кимбером Михаилом Андреевичем.
  p На данном спортивном мероприятии присутствовали именитые гости, такие как: Дмитрий Губерниев и Вячеслав Фетисов. 
    | С Дмитрием нашим ребятам удалось сфотографироваться на память. 
    a(href="img/guberniev@1280.jpg", style="display: block; float: right; margin: 0.5em 1ch 0 0.5em;")
      img(src="img/guberniev@400.jpg" width="200" style="display: block;")
    | Задача наших студентов состояла в помощи главным судьям, кто-то был «держателем» байдарок на старте, там работали наши парни, а девчата дежурили на финише и засекали время призеров и победителей заездов. 
  p Международная Владивостокская регата — масштабное соревнование по академической гребле, которое прошло 9 сентября в рамках официальной спортивной программы Восточного экономического форума. Регата проводилась в первый раз и объединила не только спортсменов и любителей спорта  Приморья, но и болельщиков из других регионов и стран – во время делового форума в городе были тысячи туристов, бизнесменов и предпринимателей. 
  p Бухта Новик выбрана местом проведения регаты не случайно. Это естественный двенадцатикилометровый гребной канал, защищенный со всех сторон сопками. Здесь же расположен спортивный центр, где создана удобная инфраструктура для занятий всеми видами гребли: просторные эллинги для хранения лодок, пирсы, современный инвентарь.
  p Международная Владивостокская регата – это не просто соревнования, а большой спортивный фестиваль с культурной и гастрономической программой. На берегу бухты Новик есть оборудованная набережная для прогулок, несколько ресторанов и кафе с открытыми верандами, детские площадки и зоны отдыха. Главная идея фестиваля – объединить людей, которые любят спорт и тех, кто хочет сделать его частью своей жизни, а также найти направление по душе и единомышленников.
  p Нашим спортсменам запомнится этот день надолго, получили огромный опыт, море эмоций – это стоять на открытой воде на небольшом плоту, катание на катере, фотографирование со знаменитостями, большая шоу программа, оказались в центре внимания таких красочных соревнований, смогли вживую ощутить весь азарт профессиональных спортсменов.
  section.gallery(style="display: flex; flex-wrap: wrap; gap: 1ch; justify-content: center;")
    each file in gallery
      +image(file)