---
layout: base.njk
tags: competition
title: Всероссийский Чемпионат АССК.ФЕСТ 2022
gallery: 
  - 20220519_134517@1280.jpg
  - 20220521_143648@1280.jpg
  - 20220521_143702@1280.jpg
  - 20220521_143703@1280.jpg
  - 20220522_121943@1280.jpg
  - 20220522_122124@1280.jpg
  - 20220522_134956@1280.jpg
---


mixin image(link)
  a(href=`img/gallery/${link}`): img(src=`img/gallery/${link}`, alt="", height="300")

article
  a(style="float: right; margin: 0 0 1ch 1ch;", href="img/vice-champions@1280.jpg"): img(src="img/vice-champions@1280.jpg", alt="четыре девушки, одна из них держит в руках кубок и диплом.", width="300")
  h2 Студенты ДВГГТК &mdash; вице-чемпионы России по баскетболу 3х3
  p Мы вице-Чемпионы России по баскетболу 3х3 АССК 2022 года, дивизион &mdash; колледжи.
  p В период с 19 по 23 мая 2022 года в г. Казань проходил Всероссийский Чемпионат АССК.ФЕСТ 2022!!! Со всей страны приехали спортивные студенческие клубы России высших и профессиональных образований, чтобы выявить самых лучших спортсменов нашей страны🏆 в следующих дисциплинах: баскетбол 3х3, волейбол, футбол 6х6, настольный теннис, шахматы, киберспорт DOTA2. Наш ССК "Стимул" представлял женскую сборную по баскетболу 3х3 - впервые в истории создания АССК, это первый спортивный клуб среди колледжей, который был представлен в этом Чемпионате, с Дальнего Востока среди колледжей!!!
  p Первым нашим соперником на турнире стал ССК «Строитель» из города Нижегородск. Девчата из нашего колледжа одержали победу со счётом 8:5, самыми ценными игроками игры стали Каширина Дарья СР-21 и Деева Вероника СР-11.
  p Вторая игра прошла против спортсменок ССК «Приоритет МИПК» г. Москва. Игра держала болельщиков в напряжении до самого конца, где точнее оказались москвичи и выиграли со счётом 6:3 - девушки показали характер, проигрывая по ходу игры 0:3, смогли сравнять счёт, но в концовке москвичам удалось совершить дальное попадание, которое и оказалось решающим.
  p В четвертьфинале наших девушек ожидала команда ССК «Рыси» г. Вологда. Стимул одержал победу со счётом 14:9, девушки играли в морозную, дождливую погоду, 4 градуса тепла, играли на улице....нереальные погодные условия для баскетбола 3х3....но девушки были готовы к полуфиналу.
  p Полуфинал СТИМУЛ - ККСТ г. Кемерово. Один из самых интересных матчей всего турнира. По ходу игры девушки уступали 1:4....но точный дальний бросок Деевой Вероники СР-11 и удачный проход под кольцо Кравченко Анастасии С-42 зафиксировал счёт 4:4 по окончании основного времени. Дополнительное время идёт, пока одна из команд не наберёт 2 очка. Чтобы выявить финалиста, потребовалось 18 минут игрового времени - это очень много для стритбола, девушки играли уже на морально-волевых, так как сил уже не оставалось.....при счёте 5:5 точный бросок Кравченко Анастасии С-42 приносит победу ССК "Стимул" со счётом 6:5 и мы в финале Чемпионата России🏀
  p Финал ССК «Стимул» Владивосток - ССК «Приоритет МИПК» Москва. Тренер команды, Кимбер Михаил, настраивал девчат, чтоб они вышли на финал, собрав все свои оставшиеся силы, чтобы биться за звание Чемпионов. Но соперник был сильнее в этот день, да и сильная усталость после полуфинала дала о себе знать....броски по кольцу от наших девчат не приносили попаданий, в отличии от соперников и при счёте 0:4, Малиновская Ксения Ю-12 забрасывает дальний бросок и приносит интригу в этот матч!!! Но времени оставалось уже мало и прозвучал финальный свисток. Приоритет МИПК «Чемпионы» а мы остановились в шаге от этого звания.
  p Наши серебряные чемпионы ССК «Стимул»:
  ul 
    li Каширина Дарья СР-21
    li Деева Вероника СР-11
    li Кравченко Анастасия С-42
    li Малиновская Ксения Ю-12

  p Кимбер Михаил - тренер команды

  p Это самый лучший результат нашего колледжа, за все его время существования, в спортивных соревнованиях!
  p В следующем году, наш спортивный клуб планирует выступить во множестве других дисциплинах и завоевать как можно больше наград на Чемпионате России, осталось подготовить наших спортсменов к такому значимому событию!!!

  section.gallery(style="display: flex; flex-wrap: wrap; gap: 1ch; justify-content: center;")
    each link in gallery
      +image(link)

