---
layout: base.njk
title: Лучшие спортсмены года
eleventyNavigation:
  key: Лучшие
  order: 1  
---


mixin person(emoji, alt, title)
  figure.person
    div(style="font-size: 200px;")=emoji
    figcaption.person__title=title

article 
  h2.h2 Лучшие спортсмены 2022 года
  .staff
    .staff__item: +person("🤾", "Константин Константинович Констанинопольский", "Константин Константинович Констанинопольский")
    .staff__item: +person("🧗", "Константин Константинович Констанинопольский", "Константин Константинович Констанинопольский")
    .staff__item: +person("⛹️", "Константин Константинович Констанинопольский", "Константин Константинович Констанинопольский")
    .staff__item: +person("🏋️", "Константин Константинович Констанинопольский", "Константин Константинович Констанинопольский")
    .staff__item: +person("🤸", "Константин Константинович Констанинопольский", "Константин Константинович Констанинопольский")
    .staff__item: +person("🚴", "Константин Константинович Констанинопольский", "Константин Константинович Констанинопольский")
    .staff__item: +person("🚣", "Константин Константинович Констанинопольский", "Константин Константинович Констанинопольский")
