---
layout: base.njk
title: Главная
---

div(style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: flex; place-content: center; place-items: center;")
  img(style="filter: drop-shadow(0 0.5em 1em #0f86cd);" src="/img/logo.png", alt="", width="400")

h2.h2(style="isolation: isolate;") Cтуденческий спортивный клуб <q>Стимул</q>

