---
layout: base.njk
title: Главная
---

article(style="display: grid; grid-template-rows: auto 1fr;")
  h2.h2 Cтуденческий спортивный клуб <q>Стимул</q>
  div(style="display: flex; place-content: center; place-items: center;")
    img(style="filter: drop-shadow(0 0.5em 1em #0f86cd);" src="/img/logo.png", alt="", width="400")


