---
layout: base.njk
title: Главная
---

article(style="position: absolute; inset: 0; display: grid; grid-template-rows: auto 1fr;")
  h2.h2 Cтуденческий спортивный клуб <q>Стимул</q>
  div(style="min-height: 0; padding: 0 3em; display: flex; place-content: center; place-items: center;")
    img(style="max-height: 100%; filter: drop-shadow(0 0.5em 1em var(--color-accent));" src="/img/logo.png", alt="")


